body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("images/burgers-pizza-beer-img.jpg");
  background-size: cover;
  color: white;
  margin: 0;
  height: 167px;
}

h1 {
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  justify-content: space-around;
}

.pre-checkout-state {
  display: none;
}

.checkout-payment-modal-state {
  display: none;
}

form {
  border: 2px solid red;
  display: inline-block;
  background-color: pink;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 543px;
  width: 524px;
  display: none;
}

input {
  margin: 12px;
  padding: 17px;
  display: block;
}
