html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Domine", serif;
}

/* common properties */

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

/* layout */

.header {
  height: 400px;
  margin-bottom: 21px;
}

.menu-section-before-click {
  flex-direction: column;
  text-align: center;
}

.burger-sides-drink {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

footer {
  color: white;
  background-color: black;
  padding: 21px;
  font-size: 17px;
  font-weight: 500px;
  text-align: center;
  width: 100%;
  /* margin-top: auto; */
}

/* images */
.header-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.store-info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 22.4216px;
  line-height: 14px;
  color: #00d2f3;
  text-shadow: -3px 2px #0a0a0a;
  overflow-wrap: break-word;
}

.store-name {
  font-weight: 700;
  font-size: 89px;
  line-height: 24px;
  color: #006491;
  margin-bottom: 31px;
}

.store-address {
  margin-bottom: 17px;
}

.store-phone-number {
  margin-top: 0;
}

.menu-items-section {
  width: 850px;
  height: 265px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 61px;
  font-family: cursive;
  line-height: 200px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  text-shadow: 2px 3px #ff006e;
  margin: 3px;
}

#pizza-div {
  width: 100%;
  line-height: 250px;
  margin-top: 10px;
  margin-bottom: 21px;
}

.menu-section-after-click {
  display: none;
}

.back-btn {
  display: none;
}

.menu-items {
  padding: 21px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 71px;
}

.menu-item-info {
  border-width: 2px 0px;
  border-color: #f80808;
  border-style: solid;
  border-radius: 13px;
  padding: 37px;
  text-align: center;
  box-shadow: 0px 0px 10px #00000080;
  margin: 0px 13px 31px;
  flex: 0 0 25rem;
}

.menu-item-name,
.menu-item-price {
  font-weight: 700;
  color: red;
  font-size: 31px;
  margin-top: 0;
}

.menu-item-ingredients {
  color: gray;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 47px;
  margin-top: 7px;
}

.menu-item-price {
  margin-bottom: 31px;
}

.online-order-btn {
  font-family: "Domine", serif;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 21px;
  font-weight: 500;
  font-size: 21px;
  border-radius: 13px;
}

.online-order-btn:hover {
  background-color: goldenrod;
}
.pre-checkout-state {
  display: none;
  margin: 17px;
  padding: 13px;
  flex-direction: column;
}

/* buttons */
.fa-cart-shopping {
  padding: 31px;
  background: darkred;
  color: white;
  margin: 10px;
  font-size: 31px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}

.your-order-text-add-More-checout-btn {
  display: flex;
  margin: 7px;
}

.your-order-text {
  font-weight: 500;
  font-size: 37px;
  color: grey;
}

.add-more-to-order-btn {
  color: white;
  background-color: #d9534f;
  margin: 0 13px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  align-self: start;
  margin-top: 37px;
}

.complete-order {
  margin-top: 31px;
}
.checkout-btn {
  color: white;
  background-color: green;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 21px;
  line-height: 1.5;
  border-radius: 7px;
  display: block;
  width: 100%;
  margin: 13px 0;
  font-family: "Domine", serif;
  font-weight: 700;
  border: none;
}

.add-more-to-order-btn:hover {
  background-color: #d43f3a;
}

.checkout-btn:hover {
  background-color: lightseagreen;
}

.cart-items-total-price-div {
  flex-direction: column;
}

.product-price-div {
  justify-content: space-between;

  border-bottom: 2px solid #ddd;
  padding: 0;
}

.product-el {
  margin-left: 35px;
  font-weight: 700;
  color: #555555;
  font-size: 21px;
}

.price-el {
  margin-right: 91px;
  font-weight: 700;
  color: #555555;
  font-size: 21px;
}

.cart-item,
.total-price-div {
  justify-content: space-between;
  padding: 0 13px;
  font-size: 21px;
  color: #555555;
}

.cart-item-name-el,
.total-price {
  margin-left: 17px;
}

.cart-item-price-el,
.items-total-price {
  margin-left: auto;
  margin-right: 41px;
}

.fa-trash-can {
  color: white;
  background-color: #d9534f;
  align-self: start;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 17px;
  margin-right: 13px;
}

.fa-backward {
  background-color: rgb(96, 96, 179);
  padding: 21px;
  color: white;
  font-size: 31px;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
}
.add-more-to-order {
  background-color: lightcoral;
  color: white;
  font-weight: bold;
  padding: 13px;
  margin: 11px;
  font-size: 21px;
}

.total-price-div {
  border-top: 2px solid black;
  color: black;
  font-weight: 700;
  padding-top: 17px;
}

.sub-total-el,
.hst-el {
  color: #555555;
}

.price {
  justify-content: space-between;
  margin-right: 73px;
  margin-left: 21px;
}

.cart-items-section {
  display: none;
  position: relative;
}

.total-number-of-cart-items {
  font-size: 25px;
  font-weight: 500;
  top: 47px;
  left: 67px;
  position: absolute;
  background-color: black;
  color: whitesmoke;
  padding: 7px;
  border-radius: 17px;
}

.total-price-for-cart-items {
  font-size: 17px;
  font-weight: 500;
  top: -23px;
  left: 28px;
  position: absolute;
  background-color: #000000;
  color: whitesmoke;
  padding: 11px;
  border-radius: 17px;
}
.checkout-payment-modal-state {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 625px;
  height: 500px;
  padding: 31px;
  background-color: #ffffff;
  filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  text-align: center;
  position: absolute;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-align: center;
  margin-top: 41px;
  margin-bottom: 0;
}

form {
  text-align: center;
}
input[type="text"] {
  margin: 17px auto;
  padding: 17px;
  display: inline-block;
  width: 90%;
  color: #757575;
  line-height: 31px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-sizing: border-box;
}

#pay-btn {
  width: 90%;
  box-sizing: border-box;
  margin: 17px auto auto;
}

.fa-square-xmark {
  padding: 17px;
  font-size: 41px;
  color: red;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 0;
}
